[role="group"] {
  gap: 20px;
  padding: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;

  .box {
    padding: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border: 3px solid currentColor;
    color: white;

    &.box--small {
      padding: 10px;
    }

    &.box--large {
      padding: 40px;
    }
  }
}
